slprj/
*.asv
*.mex*
*~
~*
.vscode/
.vs/
*.slx.r20*
*.slx.autosave
*.slx.original
*.slxc
buildInfo.mat
codeInfo.mat
rtwtypeschksum.mat
build_exception.mat
*.rtw
*.rsp
*.tmw
tlc/
codegen/
html/
mex/
webview/
*.dmr
defines.txt
ert_main.c
modelsources.txt
rtGetInf.c
rtGetInf.h
rtGetNaN.c
rtGetNaN.h
rt_nonfinite.c
rt_nonfinite.h
rtwtypes.h
**/*_rtw/*.bat
**/*_rtw/*.mk
NotForPublic/