slprj/
*.asv
*.mex*
*~
~*
.vscode/
.vs/
*.slx.r20*
*.slx.autosave
*.slx.original
*.slxc
buildInfo.mat
codeInfo.mat
rtwtypeschksum.mat
build_exception.mat
*.rtw
*.rsp
*.log
*.tmw
tlc/
#codegen/
html/
mex/
webview/
*.dmr
*.obj
*.bat
*.mk
_clang*
*_api.c
*_api.h
*_info.c
*_info.h
*_mex.c
*_mex.h
*_initialize.c
*_initialize.h
*_terminate.c
*_terminate.h
**/examples/main.c
**/examples/main.h
*.lib
defines.txt
ert_main.c
modelsources.txt
rtGetInf.c
rtGetInf.h
rtGetNaN.c
rtGetNaN.h
rt_nonfinite.c
rt_nonfinite.h
#rtwtypes.h
**/*_rtw/*.bat
**/*_rtw/*.mk
.Rproj.user
compileInfo.mat
tmwinternal/
NotForPublic/